# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

import sys
# adding config_file/subfolder to the system path
sys.path.insert(0, '/Users/vikasjoshi/Desktop/Study/Python/World_Weather_Analysis')
# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Muros,ES,42.7762,-9.0603,79.84,45,99,4.83,overcast clouds
1,1,Hellvik,NO,59.9156,5.7810,54.77,91,97,1.01,overcast clouds
2,2,Kardla,EE,58.9978,22.7492,50.05,73,99,7.43,overcast clouds
3,3,Delbruck,DE,51.7667,8.5667,61.11,65,20,9.22,few clouds
4,4,Abrantes,PT,39.4667,-8.2000,92.73,18,0,7.54,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 57
What is the maximum temperature you would like for your trip? 58.5

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Weimar,DE,50.9833,11.3167,58.06,84,100,12.08,overcast clouds
13,13,Annan,GB,54.9884,-3.2565,57.78,73,88,8.72,overcast clouds
35,35,Larkollen,NO,59.3339,10.6656,57.15,79,0,2.30,clear sky
44,44,Ullapool,GB,57.8987,-5.1604,57.34,93,100,17.49,overcast clouds
110,110,Budingen,DE,50.3000,9.1167,57.88,95,100,5.26,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Weimar,DE,50.9833,11.3167,58.06,84,100,12.08,overcast clouds
13,13,Annan,GB,54.9884,-3.2565,57.78,73,88,8.72,overcast clouds
35,35,Larkollen,NO,59.3339,10.6656,57.15,79,0,2.30,clear sky
44,44,Ullapool,GB,57.8987,-5.1604,57.34,93,100,17.49,overcast clouds
110,110,Budingen,DE,50.3000,9.1167,57.88,95,100,5.26,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()
# Display sample data
hotel_df.head()

          City Country  Max Temp Current Description      Lat      Lng
8       Weimar      DE     58.06     overcast clouds  50.9833  11.3167
13       Annan      GB     57.78     overcast clouds  54.9884  -3.2565
35   Larkollen      NO     57.15           clear sky  59.3339  10.6656
44    Ullapool      GB     57.34     overcast clouds  57.8987  -5.1604
110   Budingen      DE     57.88     overcast clouds  50.3000   9.1167

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Weimar,DE,58.06,overcast clouds,50.9833,11.3167,
13,Annan,GB,57.78,overcast clouds,54.9884,-3.2565,
35,Larkollen,NO,57.15,clear sky,59.3339,10.6656,
44,Ullapool,GB,57.34,overcast clouds,57.8987,-5.1604,
110,Budingen,DE,57.88,overcast clouds,50.3000,9.1167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
  
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url,params=params).json()
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Weimar,DE,58.06,overcast clouds,50.9833,11.3167,"Hotel Elephant Weimar, Autograph Collection"
13,Annan,GB,57.78,overcast clouds,54.9884,-3.2565,Queensberry Arms Hotel
35,Larkollen,NO,57.15,clear sky,59.3339,10.6656,Støtvig Hotel
44,Ullapool,GB,57.34,overcast clouds,57.8987,-5.1604,Argyll Hotel
110,Budingen,DE,57.88,overcast clouds,50.3000,9.1167,Schloss Büdingen

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Weimar,DE,58.06,overcast clouds,50.9833,11.3167,"Hotel Elephant Weimar, Autograph Collection"
13,Annan,GB,57.78,overcast clouds,54.9884,-3.2565,Queensberry Arms Hotel
35,Larkollen,NO,57.15,clear sky,59.3339,10.6656,Støtvig Hotel
44,Ullapool,GB,57.34,overcast clouds,57.8987,-5.1604,Argyll Hotel
110,Budingen,DE,57.88,overcast clouds,50.3000,9.1167,Schloss Büdingen

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file,index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Elephant Weimar, Autograph Collection</dd>\n<dt>City</dt><dd>Weimar</dd>\n<dt>Country</dt><dd>DE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 58.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Queensberry Arms Hotel</dd>\n<dt>City</dt><dd>Annan</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Støtvig Hotel</dd>\n<dt>City</dt><dd>Larkollen</dd>\n<dt>Country</dt><dd>NO</dd>\n<dt>Current Weather</dt><dd>clear sky and 57.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Argyll Hotel</dd>\n<dt>City</dt><dd>Ullapool</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Schloss Büdingen</dd>\n<dt>City</dt><dd>Budingen</dd>\n<dt>Country</dt><dd>DE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Royal Hotel</dd>\n<dt>City</dt><dd>Campbeltown</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>broken clouds and 57.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Готель Круиз</dd>\n<dt>City</dt><dd>Nova Odesa</dd>\n<dt>Country</dt><dd>UA</dd>\n<dt>Current Weather</dt><dd>broken clouds and 57.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>NUR</dd>\n<dt>City</dt><dd>Beyneu</dd>\n<dt>Country</dt><dd>KZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 57.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pokoje Gościnne</dd>\n<dt>City</dt><dd>Nowogard</dd>\n<dt>Country</dt><dd>PL</dd>\n<dt>Current Weather</dt><dd>clear sky and 58.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Chufarovo</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 57.2 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

         Lat      Lng
8    50.9833  11.3167
13   54.9884  -3.2565
35   59.3339  10.6656
44   57.8987  -5.1604
110  50.3000   9.1167
133  55.4258  -5.6076
136  47.3078  31.7851
141  45.3167  55.2000
206  53.6744  15.1163
211  54.0963  47.3367

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [20]:
# Add a marker layer for each city to the map. 
locations = locations[["Lat", "Lng"]]
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '2px solid black',
    'padding': '2px'
}
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(51.0853, 25.0109), zoom_level=2.5,layout=figure_layout)

marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(border='2px solid black', height='600px', padding='2px', width='900px'))